{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto bg-light" id="username" name="username" placeholder="User Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto bg-light" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto bg-light" id="password" name="confirmation" placeholder="ReType Password" type="password">
        </div>
        <button class="btn btn-primary bg-dark" type="submit">Register 🍺</button>
    </form>
{% endblock %}
